.index {
  background-color:black;
}

/*navigation bar starts*/
.menu {
  border: 0.5px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-color: black;
  font-size:120%;
  color:black
}
.santa {
  width: 90px;
  length: 70px;
}

.bodylotion{
  background-color:#212121;
}
.list {
  border: 1px;
  flex-direction: row;
  list-style: none;
  margin: 10px;
  padding: 8px;
  text-decoration-color: grey;
  color: white;
  text-decoration: none;
}

a{
  text-decoration: none;
  /* color:blue; */
}
a:visited{
  text-decoration: none;
  background-color: transparent;
  /* color:blue; */
}
.snowflake {
  color: #fff;
  font-size: 2.5em;
  text-shadow: 0 0 1px #000;
}

.menu{
  font-family: 'Permanent Marker', cursive;
}
/*navigation bar ends*/

/*front page slogan starts*/
.notes {
  position: absolute;
  top: 1100px;
  padding-bottom: 50px;
}
.fight {
    width: 100%;
    height:200px;
}

/*front page logan ends*/

/* Snowflake animation */
@-webkit-keyframes snowflakes-fall {
  0%
  {top:-10%}
  100%
  {top:100%}
}

@-webkit-keyframes snowflakes-shake
{
  0%
  {-webkit-transform:translateX(0px);transform:translateX(0px)}
  50%
  {-webkit-transform:translateX(80px);transform:translateX(80px)}
  100%
  {-webkit-transform:translateX(0px);transform:translateX(0px)}
}

@keyframes snowflakes-fall{
  0%
  {top:-10%}
  100%
  {top:100%}
  }

@keyframes snowflakes-shake
  {
    0%
    {transform:translateX(0px)}
    50%
    {transform:translateX(80px)}
    100%
    {transform:translateX(0px)}
    }

.snowflake{
  position:fixed;
  top:-10%;
  z-index:9999;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;cursor:default;
  -webkit-animation-name:snowflakes-fall,snowflakes-shake;
  -webkit-animation-duration:10s,3s;
  -webkit-animation-timing-function:linear,ease-in-out;
  -webkit-animation-iteration-count:infinite,infinite;
  -webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;
  animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;
  animation-iteration-count:infinite,infinite;
  animation-play-state:running,running
  }

.snowflake:nth-of-type(0){
  left:1%;
  -webkit-animation-delay:0s,0s;
  animation-delay:0s,0s
  }

.snowflake:nth-of-type(1){
  left:10%;
  -webkit-animation-delay:1s,1s;
  animation-delay:1s,1s
  }


.snowflake:nth-of-type(2){
  left:20%;
  -webkit-animation-delay:6s,.5s;
  animation-delay:6s,.5s
  }

.snowflake:nth-of-type(3){
  left:30%;
  -webkit-animation-delay:4s,2s;
  animation-delay:4s,2s
  }

.snowflake:nth-of-type(4){
  left:40%;
  -webkit-animation-delay:2s,2s;
  animation-delay:2s,2s
  }

.snowflake:nth-of-type(5){
  left:50%;
  -webkit-animation-delay:8s,3s;
  animation-delay:8s,3s
  }

.snowflake:nth-of-type(6){
  left:60%;
  -webkit-animation-delay:6s,2s;
  animation-delay:6s,2s
  }

.snowflake:nth-of-type(7){
  left:70%;
  -webkit-animation-delay:2.5s,1s;
  animation-delay:2.5s,1s
  }

.snowflake:nth-of-type(8){
  left:80%;
  -webkit-animation-delay:1s,0s;
  animation-delay:1s,0s
  }

.snowflake:nth-of-type(9){
  left:90%;
  -webkit-animation-delay:3s,1.5s;
  animation-delay:3s,1.5
}
/* End of Snowflake animation */

/* Slideshow */
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { right: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 17s slidy infinite;
}
/* End of Slideshow */

.intro {
  width: 100%;
  height: 700px;
}

/*clickboard*/
.photo{
  width:400px;
  height:400px;
  padding:10px;
  align-items: center;
}
.clickboard{
  display:flex;
  width:100%;
  height:300px;
  justify-content: center;
  flex-direction:row;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 800px;
  left: 0px;
}
.clickboard img:hover{
opacity:0.8;
}

/*clickboard items*/
.boxes1{
  display: flex;
  background-image: url("enjour/body2.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center;
}

.boxes2{
  display: flex;
  background-image: url("enjour/heart.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center;
}
.boxes3{
  display: flex;
  background-image: url("enjour/face1.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center;
}

.boxes1 p:hover, p:active {
  background-color: black;
  color:white;
  font-family: 'Permanent Marker', cursive;

}
.boxes2 p:hover, p:active {
  background-color: black;
  color:white;
}
.boxes3 p:hover, p:active {
  background-color: black;
  color:white;
}
.boxes1 p {
  padding: 8px;
  background: white;
  color:black;
  font-family: 'Permanent Marker', cursive;
}
.boxes2 p {
  padding: 8px;
  background: white;
  color:black;
  font-family: 'Permanent Marker', cursive;
}
.boxes3 p {
  padding: 8px;
  background: white;
  color:black;
  font-family: 'Permanent Marker', cursive;
}

.boxes1 a {
  padding: 120px;
}
.boxes2 a {
  padding:120px;
}
.boxes3 a {
  padding:120px;
  text-align: center;
}
/*clickboard end*/





/* bathbomb */
.container{
  data-scrollable="true";
}

.container-item{
   width: 100%;
   height: 500px;
   opacity: 0.75;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Permanent Marker', cursive;
  font-size: 400%;
  color: black;
}

.container2{
  margin-left: 50px;
}

.bathbomb{
  background-color: #212121;
}

/*option*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:200,300,400,600');

.optionbar body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E0E0E0;
  overflow: hidden;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #151E3F;
  font-weight: 300;
  letter-spacing: 2px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 100px;
  > * {
    margin: 5px;
  }
}

.media {
  width: 600px;
  height: 450px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
      max-width: 100%;
      height: auto;
    }
}

.layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 90%;
  background: #ece0e0;
  color: #151E3F;
  transition: all 0.9s ease;
  p {
    transition: all 0.9s ease;
    transform: scale(0.1)
  }

}

.layer p {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 15px;
  letter-spacing:1px;
}

.media:hover .layer {
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s ease;
  p {
    transform: scale(1);
    transition: all 0.9s ease;
  }
}

@media (max-width: 800px){
  body {
    transform: scale(0.6);
  }
}

@media (max-width: 600px) {
    .wrapper {
    display: block;
    > * {
      margin: 10px;
    }
  }
}

/*slogan*/
.slogan-container{
  display: flex;
  padding-bottom: 60px;
  padding-top: 40px;
}

.l1{
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  justify-content: center;
  padding-left:10px;
}
.l1 img{
  height:220px;
  width:500px;
}
.l2{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.l2 h1{
  font-size: 330%;
  color: white;
}
.l2 p{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

.facemask {
  background-color: #212121;
}
.all {
  font-family: 'Permanent Marker', cursive;
  color: white;
  padding-left: 50px;
  font-size: 250%;
}


/*end slogan*/




/*facemask pics*/
.cool{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
  }
  .box{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 50px;
    margin: 0 auto;
  }
  .card{
    position: relative;
    width: 300px;
    height: 350px;
    background: #fef7ff;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fef7ff;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }

  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  }

  .card .details h2 span{
  font-weight: 500;
  font-size: 12px;
  color: #f38695;
  display: block;
  margin-top: 5px;
   }
   /*facemask pics end*/

/*back button*/
.back button {
  background-color: #737373;
  border: none;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: 'Permanent Marker', cursive;
}
    /*rudolph starts*/
    /* fonts  */
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

.rudolph {
	background-image: url('https://s.yimg.com/uu/api/res/1.2/NJN.ZEgmpprkAg9kFbPQRA--~B/aD02Njc7dz0xMDAwO3NtPTE7YXBwaWQ9eXRhY2h5b24-/http://media.zenfs.com/en-US/homerun/hello_giggles_454/edfae12186a239a36c5f85132110f117');
	background-attachment: fixed;
	background-size: cover;
	}

#container{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 600px;
	width: 1200px;

}



/* 	Product details  */
.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

/* 	Product Name */
#container .product-details h1{
	font-family: 'Nanum Brush Script', cursive;
	display: inline-block;
	position: relative;
	font-size: 60px;
	color: #344055;
	margin: 0;

}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%;
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Nanum Brush Script', cursive;
	display: inline-block;
	background: #FFA69E;
	border-radius: 5px;
	font-size: 20px;
	padding: 5px;
	color: #FFF;
	margin: 0;
	animation: chan-sh 4s ease infinite;

}

#container .product-details h2{
  font-family: 'Nanum Brush Script', cursive;
	display: inline-block;
	font-size: 30px;
	color: red;
  padding-left: 10px;
}

@keyframes chan-sh {
	from  {content: 'Limited';}
	to  {content: 'New';}

}

/* The most important information about the product */
#container .product-details > p {
	font-family: 'Nanum Brush Script', cursive;
	text-align: center;
	font-size: 30px;
	color: #7d7d7d;

}

/* control */

.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;

}
/* the Button */
.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: #49C608;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;

}

.btn:hover{transform: translateY(-4px);}

.btn span {
	font-family: 'Nanum Brush Script', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 25px;
	margin:0;

}
/* shopping cart icon */
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

/* the Icon */
.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

/* buy */
.btn .buy {z-index: 3; font-weight: bolder;}

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}



/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 50%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Nanum Brush Script', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 150%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul {
  list-style-type: none;
}
.info ul li{
  transition: 0.3s ease;
}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}
/*rudolph ends*/

/* Contact Page*/
.contact{
  background-color: #212121;
  font-family:'Permanent Marker', cursive;
}

.submit input {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

/*Contact page ends*/

.footer {
   /* position: fixed; */
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #212121;
   color: white;
   text-align: left;
   height:60px;
   font-size: 12px;
   font-family: none;
}
