.index {
  background-color:black;
}

.menu {
  border: 0.5px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  background-color: black;
  font-size:120%;
  color:black
}
.santa {
  width: 90px;
  length: 70px;
}

.bodylotion{
  background-color:black;
}
.list {
  border: 1px;
  flex-direction: row;
  list-style: none;
  margin: 10px;
  padding: 8px;
  text-decoration-color: grey;
  color: white;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.snowflake {
  color: #fff;
  font-size: 2.5em;
  text-shadow: 0 0 1px #000;
}

.menu{
  font-family: 'Permanent Marker', cursive;
}

/* Snowflake animation */
@-webkit-keyframes snowflakes-fall {
  0%
  {top:-10%}
  100%
  {top:100%}
}

@-webkit-keyframes snowflakes-shake
{
  0%
  {-webkit-transform:translateX(0px);transform:translateX(0px)}
  50%
  {-webkit-transform:translateX(80px);transform:translateX(80px)}
  100%
  {-webkit-transform:translateX(0px);transform:translateX(0px)}
}

@keyframes snowflakes-fall{
  0%
  {top:-10%}
  100%
  {top:100%}
  }

@keyframes snowflakes-shake
  {
    0%
    {transform:translateX(0px)}
    50%
    {transform:translateX(80px)}
    100%
    {transform:translateX(0px)}
    }

.snowflake{
  position:fixed;
  top:-10%;
  z-index:9999;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;cursor:default;
  -webkit-animation-name:snowflakes-fall,snowflakes-shake;
  -webkit-animation-duration:10s,3s;
  -webkit-animation-timing-function:linear,ease-in-out;
  -webkit-animation-iteration-count:infinite,infinite;
  -webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;
  animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;
  animation-iteration-count:infinite,infinite;
  animation-play-state:running,running
  }

.snowflake:nth-of-type(0){
  left:1%;
  -webkit-animation-delay:0s,0s;
  animation-delay:0s,0s
  }

.snowflake:nth-of-type(1){
  left:10%;
  -webkit-animation-delay:1s,1s;
  animation-delay:1s,1s
  }


.snowflake:nth-of-type(2){
  left:20%;
  -webkit-animation-delay:6s,.5s;
  animation-delay:6s,.5s
  }

.snowflake:nth-of-type(3){
  left:30%;
  -webkit-animation-delay:4s,2s;
  animation-delay:4s,2s
  }

.snowflake:nth-of-type(4){
  left:40%;
  -webkit-animation-delay:2s,2s;
  animation-delay:2s,2s
  }

.snowflake:nth-of-type(5){
  left:50%;
  -webkit-animation-delay:8s,3s;
  animation-delay:8s,3s
  }

.snowflake:nth-of-type(6){
  left:60%;
  -webkit-animation-delay:6s,2s;
  animation-delay:6s,2s
  }

.snowflake:nth-of-type(7){
  left:70%;
  -webkit-animation-delay:2.5s,1s;
  animation-delay:2.5s,1s
  }

.snowflake:nth-of-type(8){
  left:80%;
  -webkit-animation-delay:1s,0s;
  animation-delay:1s,0s
  }

.snowflake:nth-of-type(9){
  left:90%;
  -webkit-animation-delay:3s,1.5s;
  animation-delay:3s,1.5
}
/* End of Snowflake animation */

/* Slideshow */
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { right: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 17s slidy infinite;
}
/* End of Slideshow */

.intro {
  width: 100%;
  height: 700px;
}

/*clickboard*/
.photo{
  width:400px;
  height:400px;
  padding:10px;
  align-items: center;
}
.clickboard{
  display:flex;
  width:100%;
  height:300px;
  justify-content: center;
  flex-direction:row;
  position: absolute;
  display: flex;
  align-items: center;
}
.clickboard img:hover{
opacity:0.8;
}

/*clickboard items*/
.boxes1{
  display: flex;
  background-image: url("enjour/body2.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center;
}

.boxes2{
  display: flex;
  background-image: url("enjour/heart.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center;
}
.boxes3{
  display: flex;
  background-image: url("enjour/face1.png");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: center;
}


.boxes1 p:hover, p:active {
  background-color: black;
  color:white;
  font-family: 'Permanent Marker', cursive;

}
.boxes2 p:hover, p:active {
  background-color: black;
  color:white;
}
.boxes3 p:hover, p:active {
  background-color: black;
  color:white;
}
.boxes1 p {
  padding: 8px;
  background: white;
  color:black;
  font-family: 'Permanent Marker', cursive;
}
.boxes2 p {
  padding: 8px;
  background: white;
  color:black;
  font-family: 'Permanent Marker', cursive;
}
.boxes3 p {
  padding: 8px;
  background: white;
  color:black;
  font-family: 'Permanent Marker', cursive;
}

.boxes1 a {
  padding: 120px;
}
.boxes2 a {
  padding:120px;
}
.boxes3 a {
  padding:120px;
  text-align: center;
}

/* bathbomb */
.container{
  data-scrollable="true";
}

.container-item{
   width: 100%;
   height: 600px;
   opacity: 0.75;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Permanent Marker', cursive;
  font-size: 400%;
  color: black;
}

.container2{
  margin-left: 50px;
}


/*option*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Source+Sans+Pro:200,300,400,600');

.optionbar body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #E0E0E0;
  overflow: hidden;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  color: #151E3F;
  font-weight: 300;
  letter-spacing: 2px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  > * {
    margin: 5px;
  }
}

.media {
  width: 600px;
  height: 450px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
      max-width: 100%;
      height: auto;
    }
}

.layer {
  opacity: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 90%;
  background: #ece0e0;
  color: #151E3F;
  transition: all 0.9s ease;
  p {
    transition: all 0.9s ease;
    transform: scale(0.1)
  }

}

.layer p {
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 15px;
  letter-spacing:1px;
}

.media:hover .layer {
  opacity: 0.8;
  width: 90%;
  transition: all 0.5s ease;
  p {
    transform: scale(1);
    transition: all 0.9s ease;
  }
}

@media (max-width: 800px){
  body {
    transform: scale(0.6);
  }
}

@media (max-width: 600px) {
    .wrapper {
    display: block;
    > * {
      margin: 10px;
    }
  }
}
